LDT running mode:                  "LSM parameter processing"
#LSM parameter attributes file:     ./param_attribs_mfrda.txt ./param_attribs_modis.txt ./param_attribs_modis.txt
Processed LSM parameter filename:  ./lis_input.d01.nc ./lis_input.d02.nc ./lis_input.d03.nc 
LIS number of nests:    *NUMNESTS*
Number of surface model types:         1
Surface model types:                  LSM        # LSM | Lake
Land surface model:                  *LSMMODEL*    # Enter LSM of choice
Lake model:                          'none'      # Lake model option: 'none'|'FLake'
Include water points:                .true.      # Include water points
Water fraction cutoff value:          0.5 0.5 0.5

Number of met forcing sources:         0         # Enter number of forcing types
Met forcing sources:                 "none"      # Enter 'none' if no forcing selected
Met spatial transform methods:      bilinear
Topographic correction method (met forcing):   "none"

LDT diagnostic file:              ldtlog_prelis
LDT output directory:		    OUTPUT
Number of ensembles per tile:         1
Undefined value:                    -9999.0
Metrics output directory:           OUTPUT

# CARLOS SUGGESTED I ADD THIS TO HANDLE WERID SLIVER OF MISSING VALUES IN LIS
Add buffer to parameter grid domain:  1  # New option (implicit 0-no buffer, 1-add buffer)
Buffer count in x-direction:          50 # Add pixel buffer to target parameter domain
Buffer count in y-direction:          25 # 5 - is set internally to the default value

#Processor layout
Number of processors along x:         1
Number of processors along y:         1

#LDT/LIS domain and grid:
Map projection of the LIS domain:  lambert
Run domain lower left lat:    32.42440
Run domain lower left lon:  -102.65475
Run domain true lat1:    30.00000
Run domain true lat2:    60.00000
Run domain standard lon:   -98.50000
Run domain resolution:     3.00000
Run domain x-dimension size:    299
Run domain y-dimension size:    299

#------------------------------------------------------------------------------
# Forcing Parameters
#------------------------------------------------------------------------------

# Forcing Based Parameter Inputs:
NARR terrain height map:          ./LS_PARAMETERS/NLDAS_0.125/NARR_elevation.1gd4r
NLDAS2 elevation difference map:  ./LS_PARAMETERS/NLDAS_0.125/NARR_elev-diff.1gd4r

#GDAS forcing settings
GDAS T126 elevation map: ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t126.grb ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t126.grb ./metforcing_parms/GDAS/global_orography.t126.grb
GDAS T170 elevation map: ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t170.grb ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t170.grb ./metforcing_parms/GDAS/global_orography.t170.grb
GDAS T254 elevation map: ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t254.grb ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t254.grb ./metforcing_parms/GDAS/global_orography.t254.grb
GDAS T382 elevation map: ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t382.grb ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t382.grb ./metforcing_parms/GDAS/global_orography.t382.grb
GDAS T574 elevation map: ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t574.grb ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography.t574.grb ./metforcing_parms/GDAS/global_orography.t574.grb
GDAS T1534 elevation map: ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography_uf.t1534.3072.1536.grb ./LS_PARAMETERS/metforcing_parms/GDAS/global_orography_uf.t1534.3072.1536.grb ./metforcing_parms/GDAS/global_orography_uf.t1534.3072.1536.grb
#
## MERRA2 forcing settings
MERRA2 geopotential terrain height file: ./LS_PARAMETERS/metforcing_parms/MERRA2/MERRA2_101.const_2d_asm_Nx.00000000.nc4
MERRA2 forcing directory: ./MET_FORCING/MERRA2
MERRA2 use lowest model level forcing: 1
MERRA2 use corrected total precipitation: 1
#
#HYMAP routing inputs
HYMAP river width map:                  /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/rivwth_Getirana_Dutra.bin
HYMAP river height map:                 /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/rivhgt_Getirana_Dutra.bin
HYMAP river roughness map:              /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/rivman_Getirana_Dutra.bin
HYMAP floodplain roughness map:         /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/fldman.bin
HYMAP floodplain height levels:         10
HYMAP river length map:                 /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/rivlen.bin
HYMAP floodplain height map:            /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/fldhgt.bin
HYMAP flow direction x map:             /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/nextx.bin
HYMAP flow direction y map:             /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/nexty.bin
HYMAP grid elevation map:               /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/elevtn.bin
HYMAP grid distance map:                /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/nxtdst.bin
HYMAP grid area map:                    /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/grarea.bin
HYMAP runoff time delay map:            /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/kirpich.bin
HYMAP runoff time delay multiplier map: /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/trunoff.bin
HYMAP baseflow time delay map:          /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/tbasflw_45_amazon.bin
HYMAP reference discharge map:          /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/qrefer.bin
HYMAP basin mask map:                   /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/mask_all.bin
HYMAP drainage area map:                /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/grarea.bin
HYMAP basin map:                        /discover/nobackup/projects/lis/LS_PARAMETERS/HYMAP_10KM_GLOBAL/basin.bin   #mask_all.bin
HYMAP params spatial transform:         none
HYMAP params map projection:            latlon
HYMAP params lower left lat:           -59.9375
HYMAP params lower left lon:          -179.9375
HYMAP params upper right lat:           89.9375
HYMAP params upper right lon:          179.9375
HYMAP params resolution (dx):            0.125
HYMAP params resolution (dy):            0.125

Noah-MP PBL Height Value:               900

##------------------------------------------------------------------------------
# Crop and irrigation information
#------------------------------------------------------------------------------
## Crop information (used also in conjuction with irrigation modeling)
Incorporate crop information:  .false. #.true.    # Option to modify LSM parameters if crop info present

#Crop type data source:	"Monfreda08" 
#Crop classification:    "FAOSTAT01"      # Crop classifications: 
                                           #   "FAOSTAT01" (Leff et al.,2004; aka CROPMAP ~ Ozdogan etal.,2010);
                                           #   "FAOSTAT05" (Monfreda et al.,2008);
                                           #   "CROPMAP"; "CDL"
#Crop library directory:	"../LS_PARAMETERS/crop_params/Crop.Library.Files/" 
#Assign crop value type:        "none"    # Assign: "none", "single", "multiple" crop values
#Default crop type:             "none"     # "corn", etc.

##Crop-Landcover blending method:  Ozdogan2010 # Method to blend or impose crop layers with landcover map  
                                           #   "Ozdogan2010" - Mutlu's original method to blend CROPMAP+UMD
                                           #   "Arsenault2014" - Kristi's method to blend FAOSTAT05+Any landcover

## Crop information (used also in conjuction with irrigation modeling)
##  The crop type map reflects tiles, as the landcover field:
#Crop type file:    ../LS_PARAMETERS/crop_params/Monfreda_175Crops/Crops/ 
#Crop map spatial transform:      "bilinear" 

## Root depth file:   ../LS_PARAMETERS/irrigation/conus_modis/maxrootdepth32.txt

##Irrigation Maps
## Ozdogan and Gutman (2008):
##Irrigation fraction data source: "MODIS_OG"	
##Irrigation fraction map:    ../LS_PARAMETERS/irrigation/conus_modis/newirr.percent.eighth.bin
##Irrigation fraction spatial transform:   none

#Irrigation fraction data source:      "GRIPC"
#Irrigation fraction map:    ../LS_PARAMETERS/irrigation/global_gripc/irrigtype_salmon2013.flt 
#Irrigation fraction spatial transform: average
